<html>
  <head></head>
  <body>
    <h2>
    Caeser Cipher
    </h2>
    <form>
      <input type="text" name="phrase" placeholder="Enter a phrase">
      <input type="number" name="num" placeholder="Number to shift">
      <input type="submit" value="Cipher!">
    </form>
    <p>
      <%= cipher_str %>
    </p>
  </body>
</html>

